//
// ~/.config/zellij/config.kdl
//

// Use Fish for all new panes
default_shell "fish"

// Open scrollback in Neovim
scrollback_editor "nvim"

// UI
pane_frames true
mouse_mode true
show_startup_tips false

// Restore sessions automatically
session_serialization true

